.header {
    background-image: url("https://carmieskitchen.com/product_images/uploaded_images/header-background-ingredients.jpg") !important;
	background-size: cover !important;
	background-position: bottom !important;
	background-repeat: no-repeat !important;
}

.navUser.right .navUser-section {
	text-align: right !important;
	background-color: white !important;
	border-radius: 12px !important;
}

.globalBanner {
    padding: 0 1rem !important;
}

.navUser-action {
    padding: 1rem 0.78571rem !important;
}

.navUser-item--cart .navUser-action {
    padding-right: 0.78571rem !important;
}

.navPages-list a[href*="privacy-policy"],
.navPages-list a[href*="shipping-returns"],
.navPages-list a[href*="billing-terms-and-conditions"] {
    display: none !important;
}

@media (min-width: 801px) {
    .navUser-item--cart .navUser-action {
        padding-right: 0.78571rem !important;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none !important;
        width: 7px !important;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 4px !important;
        background-color: rgba(0, 0, 0, .5) !important;
        box-shadow: 0 0 1px rgba(255, 255, 255, .5) !important;
    }

    .expanded .navPage-subMenu-list, .expanded--enclosed .navPage-subMenu-list {
        overflow-y: auto !important;
    }
}